* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.calendar-main {
}

.month {
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
}

.calendar-top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.calendar-top-bar span {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  background-color: #04aa6d;
}

.calendar-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.calendar-table td,
.calendar-table th {
  font-size: 3rem;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.calendar-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.calendar-table td {
  height: 14.39vh;
}
.calendar-table td:hover {
  background-color: #ddd;
}

.calendar-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
